@include resp {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);

        .community {
            grid-column: 1 / span 3;
        }
    }
} 